footer {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 1fr 1fr 1fr;
  a {
    border-bottom: 5px solid #d4ffdc;
    &:hover {
      border-bottom: 5px solid #fed2f6;
    }
  }
  .copy {
    grid-area: center;
  }
  .right {
    grid-area: right;
  }
}
