// BACKGROUND IMAGE CREDIT TO DO-HEE KIM @ http://100daysoffonts.com/
body {
  background: #faebd7;
  background-image: url("http://100daysoffonts.com/images/natural-paper.png");
}

img {
  width: 100%;
  display: block;
}

a {
  color: black;
  text-decoration: none;
}
