@mixin zineStyleFont($fontSize) {
  font-size: $fontSize;
  font-family: "Barrio", monospace;
}

@mixin sansSerifFont($fontSize) {
  font-size: $fontSize;
  font-family: "Orienta", sans-serif;
}

@mixin digitalFont($fontSize) {
  font-size: $fontSize;
  font-family: "Share Tech Mono", monospace;
}

@mixin serifFont($fontSize) {
  font-size: $fontSize;
  font-family: "Unna", serif;
}

@mixin handwrittenFont($fontSize) {
  font-size: $fontSize;
  font-family: "East Sea Dokdo", serif;
}

h1 {
  @include sansSerifFont(3vw);
}

h2 {
  @include sansSerifFont(2.4vw);
}

h3 {
  @include sansSerifFont(1.2vw);
}

p {
  font-family: "Barrio", sans-serif;
  font-size: 3vw;
  margin: 0;
}

.small {
  @include sansSerifFont(1vw);
}
